/* reset */
body{
    margin: 0;
}

/* header */
header{
    background-color: #4da1fc;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

#logo{
    height: 50px;
    padding-top: 40px;
    padding-left: 10px;
}

/* main */
main{
    margin-left: 5px;
}

/* intestazione */
h1{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 35px;
}

.info{
    color: darkgray;
    margin: 0;
}

.data{
    font-size: 12px;
    margin-bottom: 15px;
}

#link-info{
    text-decoration: none;
    color: #4da1fc;
    font-weight:bold;
}

/* immagini */
.caption{
    font-size: 12px;
    margin: 0;
}

/* paragrafo, elenco, tabella e paragrafo */
.evidenziato{
    background:#ffff00;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #21a9e5;
    color: white;
}

#riga-dispari{
    background-color: #b1e5f1;
}

th, td{
    padding-right: 50px
}

td{    
    padding-top: 15px;
    padding-bottom: 15px;
}

/* footer */
footer{
    margin-left: 5px;
}

#footer-intest{
    color: darkgray;
}

.annuncio{
    color: white;
    font-size: 20px;
    font-weight: bold;

    background-size:contain;
    height: 150px;
    width: 200px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
}

.graph{
    background-image: url(../img/graph.jpg);
    margin-bottom: 30px;
}

.testo-annuncio{
    padding-top: 10px;
    padding-left: 10px;
}