/* reset */
body{
    margin: 0;
}

/* header */
header{
    background-color: #4da1fc;
    background-image: url("../img/pattern.png");
    background-size: 400px;
}

#logo{
    height: 50px;
    padding-top: 40px;
    padding-left: 10px;
}

/* main */
.title{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 35px;
}

.info{
    color: darkgray;
    margin: 0;
}

.data{
    font-size: 12px;
    margin-bottom: 15px;
}

#link-info{
    text-decoration: none;
    color: #4da1fc;
    font-weight:bold;
}